In [1]:
#bin() convert any base to binary
print(bin(10))
print(bin(0o11))
print(bin(0x10))

0b1010
0b1001
0b10000

In [2]:
#oct()
print(oct(10))
print(oct(0b10))
print(oct(0x10))

0o12
0o2
0o20

In [4]:
#hex()
print(hex(10123))
print(hex(0b10))
print(hex(0o11))

0x278b
0x2
0x9

In [7]:
#float()
x=1.20
y=2367.58
z=-33.68
print(type(x))
print(type(y))
print(type(z))
a=36e3 #a=36E3
print(a)
print(type(a))

<class 'float'>
<class 'float'>
<class 'float'>
36000.0
<class 'float'>

In [10]:
#list=mutable
l=[1,2,3,4,4]
print(l)
print(l[0])
l[0]=6
print(l)

[1, 2, 3, 4, 4]
1
[6, 2, 3, 4, 4]

In [9]:
#tuple=immutable
t=(1,2,3,4,5)
print(t)
print(t[0])
t[0]=6
print(t)

(1, 2, 3, 4, 5)
1

TypeError: 'tuple' object does not support item assignment

In [13]:
#range
for i in range(10):
    print(i) 
for i in range(1,10):
    print(i)
for i in range(1,10,2):
    print(i)

0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
1
3
5
7
9

In [17]:
#Mapping type:dict
d={10:"Arman",20:"Aayan",30:"Dhairya",10:"John"}
print(d)
print(d[10])
print(d[20])
print(d[30]) 
d[30]="Diya"
print(d)

{10: 'John', 20: 'Aayan', 30: 'Dhairya'}
John
Aayan
Dhairya
{10: 'John', 20: 'Aayan', 30: 'Diya'}

In [2]:
#set
s={"apple","banana","orange","cherry","apple"}
print(s) 
print(s[0])

{'cherry', 'orange', 'banana', 'apple'}

TypeError: 'set' object is not subscriptable

In [3]:
#boolean
print(20>8)
print(20==8)
print(20<8)
print(bool("abc"))
print(bool(""))
print(bool(123))
print(bool(0))

True
False
False
True
False
True
False

Reserved keywords:
------------------------------
True,False,None,and,or,not,is,if,elif,else,while,for,assert,import,from,as,class,def,pass,global,
nonlocal,lambda,del,with

In [7]:
#Variables
a,b,c="apple","orange","banana"
print(a)
print(type(a)) 
a="apple","orange","banana" #by default-tuple
print(a)
print(type(a))

apple
<class 'str'>
('apple', 'orange', 'banana')
<class 'tuple'>

In [10]:
#Global variable vs local variable
a="python" #global
def test():
    #global a
    a="java" #local
    print(a)
test()
print(a)

java
python

In [1]:
#Comments
#This is code
a=10 #variable
'''This is python
This is java
This is prog language'''
print(a)

10

In [3]:
#Reading input from users
a=input("Enter data for a:")
print(a)
print(type(a))

Enter data for a:10
10
<class 'str'>

In [4]:
a=int(input("Enter data for a:"))
print(a)
print(type(a))

Enter data for a:10
10
<class 'int'>

In [5]:
a=int(input("Enter data for a:"))
b=int(input("Enter data for b:"))
print("The sum is: ",a+b)

Enter data for a:10
Enter data for b:20
The sum is:  30

In [14]:
#Type casting
#int()
print(int(123.987))
print(int(True))
print(int(False))
print(int("10"))
#print(int("10.5"))
#print(int("ten"))
#print(int("0b1111"))
print(int(0b1111))

123
1
0
10
15

In [15]:
#Type casting
#float()
print(float(10))
print(float(True))
print(float(False))
print(float("10"))
print(float("10.5"))
#print(float("ten"))
#print(float("0b1111"))
print(float(0b1111))

10.0
1.0
0.0
10.0
10.5
15.0

In [16]:
#Type casting
#bool()
print(bool(0))
print(bool(1))
print(bool(0.178))
print(bool(0.0))
print(bool("True"))
print(bool("False"))
print(bool(""))

False
True
True
False
True
True
False

In [17]:
#Type casting
#str()
print(str(10))
print(str(10.5))
print(str(True))

10
10.5
True

In [19]:
#tuple() & list() & set()
a=[1,2,3,4,5]
print(type(a))
print(a)
b=tuple(a)
print(type(b))
print(b)

<class 'list'>
[1, 2, 3, 4, 5]
<class 'tuple'>
(1, 2, 3, 4, 5)

Python operators:
--------------------------
1.Arithmetic:
+ addition (str-concatination)
- subtraction
* multiplication (str-String multiplication or repetition)
/  division
//  floor division
%  modulus
**  exponent or power