In [1]:
n=int(input("Enter rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

Enter rows: 5
*
* *
* * *
* * * *
* * * * *

In [2]:
n=int(input("Enter rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

Enter rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [3]:
n=int(input("Enter rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
n=int(input("Enter rows: "))
k=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(k,end=" ")
        k+=1
    print()

Enter rows: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [5]:
n=int(input("Enter rows: "))
k=65
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(k),end=" ")
        k+=1
    print()

Enter rows: 5
A
B C
D E F
G H I J
K L M N O

In [6]:
n=int(input("Enter rows: "))
k=97
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(k),end=" ")
        k+=1
    print()

Enter rows: 5
a
b c
d e f
g h i j
k l m n o

In [7]:
n=int(input("Enter rows: "))
for i in range(1,n+1):
    k=97
    for j in range(1,i+1):
        print(chr(k),end=" ")
        k+=1
    print()

Enter rows: 5
a
a b
a b c
a b c d
a b c d e

In [13]:
n=int(input("Enter rows: "))
for i in range(1,n+1):
    k=65
    for j in range(1,i+1):
        if i%2==0:
            print(chr(k),end=" ")
            k+=1
        else:
            print(j,end=" ")
    print()

Enter rows: 5
1
A B
1 2 3
A B C D
1 2 3 4 5

In [12]:
n=int(input("Enter rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        if i%2==0:
            print((" # "),end=" ")
            k+=1
        else:
            print(" * ",end=" ")
    print()

Enter rows: 5
 *
 #   #
 *   *   *
 #   #   #   #
 *   *   *   *   *

In [18]:
n=int(input("Enter rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        if i%2==0:
            print(" 0 ",end=" ")
        else:
            print(" 1 ",end=" ")
    print()

Enter rows: 5
 1
 0   0
 1   1   1
 0   0   0   0
 1   1   1   1   1

In [21]:
n=int(input("Enter rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        if (i+j)%2==0:
            print(" 1 ",end=" ")
        else:
            print(" 0 ",end=" ")
    print()

Enter rows: 5
 1
 0   1
 1   0   1
 0   1   0   1
 1   0   1   0   1

In [25]:
n=int(input("Enter rows: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print("*",end=" ")
    print()

Enter rows: 5
* * * * *
* * * *
* * *
* *
*

In [26]:
n=int(input("Enter rows: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(i,end=" ")
    print()

Enter rows: 5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [27]:
n=int(input("Enter rows: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(j,end=" ")
    print()

Enter rows: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [2]:
n=int(input("Enter rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(" ",end="")
    for k in range(i,n+1):
        print("*",end="")#w/o space
    print()

Enter rows: 5
 *****
  ****
   ***
    **
     *

In [32]:
n=int(input("Enter rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(" ",end="")
    for k in range(i,n+1):
        print("*",end=" ")#with space
    print()

Enter rows: 5
 * * * * *
  * * * *
   * * *
    * *
     *

In [6]:
n=int(input("Enter rows: "))
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(" ",end="")
    for k in range(1,i+1):
        print("*",end=" ")#with space
    print()

Enter rows: 5
     *
    * *
   * * *
  * * * *
 * * * * *

In [11]:
n=int(input("Enter rows: "))
for i in range(1,n+1):
    for j in range(1,n+1-i):
        print(" ",end="")
    for k in range(1,i+1):
        print("*",end="")#w/o space
    print(" ")

Enter rows: 5
    *
   **
  ***
 ****
*****